@import '../../shared/colors.scss';

// Main FAQ Section
.section_faq-main {
  padding-top: 12rem;
  padding-bottom: 7.5rem;
  position: relative;
}

// FAQ Grid Layout
.faq-grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-columns: 0.4fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.faq-column {
  // Column wrapper for sidebar and content
}

// Sidebar (Table of Contents)
.faq_category-sidebar {
  z-index: 2;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  align-self: flex-start;
  width: 100%;
  max-width: 24rem;
  display: flex;
  position: sticky;
  top: 8rem;
}

.faq_category-links {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-flow: column;
  display: flex;
}

.faq_sidebar-link {
  border-left: 5px solid $color-medium-grey;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  transition: color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),
    border-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: $color-dark;
  text-decoration: none;
  display: block;

  &:hover {
    border-left-color: $color-blue-grey;
    color: $color-blue-grey;
  }

  &:focus {
    outline: none;
  }

  &.is-active,
  &.w--current {
    border-left-color: $color-brick;
    color: $color-brick;
  }
}

// FAQ Content Area
.faq-sections_list {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  flex-flow: column;
  max-width: 75ch;
  display: flex;
  width: 100%;
}

.faq-section {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

// Scroll Target for Anchor Links
.scroll_target {
  width: 100%;
  height: 9rem;
  position: absolute;
  inset: 0% 0% auto;
  transform: translate(0, -100%);

  &.dynamic {
    height: 100%;
    top: auto;
    bottom: 0;
    transform: translate(0);

    &.is-faq {
      z-index: -1;
      top: -5rem;
      bottom: auto;
    }
  }
}

// FAQ Category Heading
.faq-h2 {
  margin: 0;
}

// FAQ List Container
.faq-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  display: flex;
  width: 100%;
}

// Tablet Breakpoint (991px and below)
@media screen and (max-width: 991px) {
  .faq-grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .faq_category-sidebar {
    max-width: 100%;
    position: relative;
    top: 0;
  }

  .section_faq-main {
    height: auto;
  }
}

// Mobile Landscape (767px and below)
@media screen and (max-width: 767px) {
  .faq_sidebar-link {
    font-size: 1.125rem;
  }

  .scroll_target.dynamic.is-faq {
    top: -6.5rem;
  }

  .section_faq-main {
    min-height: 0;
  }
}

// Mobile Portrait (479px and below)
@media screen and (max-width: 479px) {
  .faq_sidebar-link {
    font-size: 1rem;
  }

  .faq-section {
    width: 100%;
  }

  .section_faq-main {
    padding-top: 10rem;
  }
}