// Webdune Blocks Color Variables
$color-primary: #FFD940; // Yellow
$color-dark: #3C3C3C; // Dark gray
$color-light: #F5F5F7; // Light gray
$color-white: #FFFFFF;
$color-black: #000000;
$color-brick: #cb6833;