// Utility Classes
// From Webflow custom-styles

/* Visibility utilities */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {

  .hide,
  .hide-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none !important;
  }
}

@media screen and (max-width: 479px) {

  .hide-mobile,
  .hide-mobile-portrait {
    display: none !important;
  }
}

/* Spacing utilities */
.margin-0 {
  margin: 0rem !important;
}

.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

/* Pointer events */
.pointer-events-off {
  pointer-events: none;
}

.pointer-events-on {
  pointer-events: auto;
}

/* Display utilities */
.display-inlineflex {
  display: inline-flex;
}

/* Custom Underline Format Styles */
.gradient-underline {
  /* Background gradient positioned below the text baseline */
  background-image: linear-gradient(to right, #FFD940 0%, #FFD940 100%);
  background-size: 100% 0.3rem;
  background-repeat: no-repeat;
  background-position: 0 calc(100% - 0.25rem);
  /* Allow the underline to wrap across multiple lines */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* Add space below text so underline doesn't touch descenders */
  padding-bottom: 0rem;

  @media screen and (max-width: 767px) {
    background-size: 100% 0.3rem !important;
    background-position: 0 calc(100% - 0.25rem) !important;
    padding-bottom: 0.2rem !important;
  }
}

/* Optional: Customize the underline color and thickness */
.gradient-underline.custom-color {
  background-image: linear-gradient(to right, white 0%, white 100%);
}

.gradient-underline.thick {
  background-size: 100% 5px;
}

.gradient-underline-thin {
  /* Thin variant for stats labels */
  background-image: linear-gradient(to right, #FFD940 0%, #FFD940 100%);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: 0 calc(100% - 0.25rem);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding-bottom: 0.25rem;
}

@media screen and (max-width: 991px) {
  .gradient-underline {
    background-size: 100% 0.3rem;
    background-position: 0 calc(100% - 0.25rem);
  }

  .gradient-underline-thin {
    background-size: 100% 3px;
  }
}